@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'),
        local('Proxima Nova'),
        url('ProximaNovaRg.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Brown Sugar';
    src: local('Brown Sugar'),
        local('Brown Sugar'),
        url('BrownSugar.otf');
    font-weight: 400;
}