body {
  font-family: 'Brown Sugar', cursive;
  font-family: 'Cinzel Decorative';
  font-family: "Proxima Nova";
  color: rgb(0, 0, 70);
  /* background: linear-gradient(#3f3045, #ffc0cb); */
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}



