body {
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Cinzel Decorative';
  font-family: "Proxima Nova";
  color: #f8f9fa;
  background: linear-gradient(#3f3045, #ffc0cb);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}



